
body {
  background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/85282/580/386/m1/fpnw/wm0/wanderlust-.jpg?1395104083&s=33b9f6946ab2a41085beeff7dd98c2fe");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
